[user]
	name = Isai Gordeev
	email = isaigordeev@gmail.com
	signingkey = E32BE35A
[commit]
	gpgsign = true
[alias]
	lg = log --all --oneline --graph --decorate
[sendemail]
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
	smtpEncryption = tls
	smtpUser = isai.gordeev.2022@polytechnique.org
